<ng-template #socialButtons>
  <div class="social-login mt-3">
    <button
      pButton
      label="Wargaming.net"
      icon="pi pi-shield"
      class="p-button-raised p-button-danger mb-2"
      (click)="loginWithWg()"
    ></button>
  </div>
</ng-template>

<div class="login-container">
  <p-card styleClass="login-card">
    <p-tabs [(value)]="activeTab">
      <p-tablist>
        <p-tab [value]="0">Увійти</p-tab>
        <p-tab [value]="1">Реєстрація</p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel [value]="0">
          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="flex flex-column gap-2 mb-3">
              <label for="email" class="font-bold">Email <span class="text-red-500">*</span></label>
              <input
                pInputText
                id="email"
                formControlName="email"
                type="email"
                class="w-full"
                required
                appValidationErrors
              />
            </div>
            <div class="flex flex-column gap-2 mb-4">
              <label for="password" class="font-bold"
                >Пароль <span class="text-red-500">*</span></label
              >
              <input
                pInputText
                id="password"
                formControlName="password"
                type="password"
                class="w-full"
                required
                appValidationErrors
              />
            </div>
            <button
              pButton
              label="Увійти"
              icon="pi pi-sign-in"
              class="w-full"
              [disabled]="loginForm.invalid"
              [pTooltip]="loginForm.invalid ? 'Будь ласка, заповніть усі поля коректно' : ''"
              tooltipPosition="bottom"
            ></button>
          </form>

          <p-divider align="center">АБО</p-divider>

          <ng-container *ngTemplateOutlet="socialButtons"></ng-container>
        </p-tabpanel>

        <p-tabpanel [value]="1">
          <div class="flex flex-column gap-3">
            <form [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
              <div class="flex flex-column gap-2 mb-3">
                <label class="font-bold">Ігровий нікнейм <span class="text-red-500">*</span></label>
                <input
                  pInputText
                  class="w-full"
                  formControlName="nickname"
                  required
                  appValidationErrors
                />
              </div>
              <div class="flex flex-column gap-2 mb-3">
                <label class="font-bold">Email <span class="text-red-500">*</span></label>
                <input
                  pInputText
                  type="email"
                  class="w-full"
                  formControlName="email"
                  required
                  appValidationErrors
                />
              </div>
              <div class="flex flex-column gap-2 mb-4">
                <label class="font-bold">Пароль <span class="text-red-500">*</span></label>
                <input
                  pInputText
                  type="password"
                  class="w-full"
                  formControlName="password"
                  required
                  appValidationErrors
                />
              </div>

              <button
                pButton
                label="Створити аккаунт"
                icon="pi pi-sign-in"
                class="w-full"
                [disabled]="registrationForm.invalid"
                [pTooltip]="
                  registrationForm.invalid ? 'Будь ласка, заповніть усі поля коректно' : ''
                "
                tooltipPosition="bottom"
              ></button>
            </form>
          </div>

          <p-divider align="center">АБО</p-divider>

          <ng-container *ngTemplateOutlet="socialButtons"></ng-container>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </p-card>
</div>
